@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h3>@ViewData["EnvironmentMessage"]</h3>

<p>The Api calls can be found here:</p>
<h3>@ViewData["ApiMessage"]</h3>


<p>This is new code.  Deploy 2-5-2018 at 1:20PM</p>
